
html{
    font-family: 'Roboto', sans-serif;
}

body {
  font-size: 13px;
  line-height: 20px; 
}

html, body, #container{
    height: 100%;
}

.linkMenu{
    color: darkgray;
    margin-right: 20px
}

.linkMenuActive{
    color: black;
}

.removeFirstTh > th:first-child {
    display: none;
}